/* Full page center */
/* .login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4e73df, #1cc88a);
  font-family: "Segoe UI", sans-serif;
} */
 .login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;

  background: linear-gradient(-45deg, #4e73df, #1cc88a, #36b9cc, #f6c23e);
  background-size: 300% 300%;
  animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Card */
.login-card {
  background: #ffffff;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

/* Title */
.login-card h2 {
  margin-bottom: 10px;
  color: #333;
}

.subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 25px;
}

/* Input fields */
.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #4e73df;
  outline: none;
  box-shadow: 0 0 5px rgba(78, 115, 223, 0.4);
}

/* Button */
/* .login-btn {
  width: 100%;
  padding: 12px;
  background: #4e73df;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #2e59d9;
  transform: translateY(-2px);
} */
 .login-btn {
  width: 100%;
  padding: 12px;
  background: #4e73df;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background: #2e59d9;
  box-shadow: 0 8px 20px rgba(46, 89, 217, 0.4);
  transform: translateY(-3px);
}